<h2>Need to test for list here:</h2>

<h2>Testing drag and drop list with card:</h2>

<div cdkDropListGroup>
    <!-- All lists in here will be connected. -->
    <div class="example-container" *ngFor="let cardItem of cardList">
        <h2>{{cardItem.title}}</h2>
    
        <div
            cdkDropList
            [cdkDropListData]="cardItem.tasks"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of cardItem.tasks" cdkDrag>
                <app-card [cardInput]="item"></app-card>
            </div>
        </div>
    </div>
</div>

<h2>Will need to add timer for current sprint:</h2>
<router-outlet></router-outlet>