<div class="container">
    <h1>Kanban Timer</h1>
    <div class="flex-row flex">
      <button mat-raised-button color="primary" (click)="addList()">Add new list</button>
      <div class="button-space"></div>
      <button mat-raised-button color="primary" (click)="openDialog()">Add new card</button>
      <div class="button-space"></div>
      <button mat-raised-button color="primary" (click)="setTimer()">Set timer</button>
    </div>
</div>

<div class="spacer-row"></div>

<div class="container">
    <countdown [config]="{leftTime: 30}"></countdown>
</div>

<div class="spacer-row"></div>

<div class="container flex flex-row" cdkDropListGroup>
    <div class="example-container" *ngFor="let cardItem of cardList">
        <h2>{{cardItem.title}}</h2>
        <div
            cdkDropList
            [cdkDropListData]="cardItem.tasks"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of cardItem.tasks" cdkDrag>
                <app-card [cardInput]="item"></app-card>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>
