<h1 mat-dialog-title>Add new card</h1>
<div mat-dialog-content>
  <p>Where would you like to add your card?</p>
  
  <div class="row">
    <div class="col">
        <mat-form-field class="full-width">
            <mat-select placeholder="List" [(ngModel)]="data.list">
                <mat-option *ngFor="let list of listArray" [value]="list">{{list}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <mat-form-field class="full-width">
            <input matInput [(ngModel)]="data.title" placeholder="Card Title">
        </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <mat-form-field class="full-width">
            <input matInput [(ngModel)]="data.priority" placeholder="Card Priority">
        </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="data.description" placeholder="Description"></textarea>
        </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-button color="success" [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>